<%- include('header') %>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greg Plitt</title>
</head>
<body>
    <h1>Greg Plitt</h1>
    <img src="../img/artworks-000074440310-ovwk7b-t500x500.jpg" alt="Ryan Gosling" style="width: 300px; height: auto;">
    <p>Greg Plitt was an American fitness model, actor, and motivational speaker. He gained popularity through his fitness modeling work and appearances on reality TV shows like "Work Out." Plitt was known for his dedication to fitness and inspiring others to live a healthy lifestyle. Sadly, he passed away in 2015.</p>

<%- include('footer') %>
