<%- include('header') %>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ryan Gosling</title>
</head>
<body>
    <h1>Ryan Gosling</h1>
    <img src="../img/ryan-gosling-attends-the-96th-oscars-nominees-luncheon-at-news-photo-1710014412.jpg" alt="Ryan Gosling" style="width: 300px; height: auto;">
    <p>Ryan Gosling is a Canadian actor and musician. He gained widespread fame for his role in "The Notebook" and has since starred in a variety of films, including "La La Land," "Drive," and "Blade Runner 2049." Gosling is known for his versatile acting skills and often portrays complex, nuanced characters.</p>

<%- include('footer') %>
