<%- include('header') %>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matthew McConaughey</title>
</head>
<body>
    <h1>Matthew McConaughey</h1>
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.dailytelegraph.com.au%2Fentertainment%2Fmovies%2Fguy-ritchies-cockney-crime-caper-should-come-with-warning%2Fnews-story%2F58f0c4d946d758e1b64d53e9435a1b00&psig=AOvVaw3Z3juDEcP1h_LVDbmZBZ-g&ust=1712276760461000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCMjM2ZOmp4UDFQAAAAAdAAAAABAE" alt="Ryan Gosling" style="width: 300px; height: auto;">
    <p>Matthew McConaughey is an American actor known for his roles in films such as "Dallas Buyers Club," "Interstellar," and "The Wolf of Wall Street." He is praised for his charismatic performances and has won several awards, including an Academy Award for Best Actor for his role in "Dallas Buyers Club." McConaughey is also known for his laid-back persona and distinctive Texas drawl.</p>

<%- include('footer') %>
