<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Favourite People Site</title>
    <style>
        /* Some basic styling for the header */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #333;
            color: #fff;
            padding: 10px 20px;
            text-align: center;
        }
        nav {
            display: flex;
            justify-content: center;
            background-color: #444;
            padding: 10px 0;
        }
        nav a {
            color: #fff;
            text-decoration: none;
            margin: 0 10px;
        }
    </style>
</head>
<body>
    <header>
        <h1>My Favourite People Site</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/actor1">Ryan Gosling</a>
            <a href="/actor2">Cillian Murphy</a>
            <a href="/actor3">Greg Plitt </a>
            <a href="/actor4">Matthew McConaughey</a>
        </nav>
    </header>
