<%- include('header') %>

<!-- Content for the home page -->
<h1>Welcome to My Favourite People Site</h1>
<p>This is a website showcasing information about my favourite people.</p>

<%- include('footer') %>
