doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='#') Zakhar Zyhar

      .collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='/home') Home
          li.nav-item
            a.nav-link(href='/students') Students

    .jumbotron.mt-3
      h1  Zakhar Zyhar

    .container.mt-3
      block content

    footer.footer.mt-5.p-3.bg-light.text-center
      p 200539853
